@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

/* home hero styles */
.hero {
  background-image: url("./images/rawkkim-I4-0Y68ob7o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

/* feeds section styles */
#feeds {
  margin-top: 3%;
}

/* card styles */
.card {
  overflow-y: hidden;
}

p,
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1000px;
}
